@model IEnumerable<Library.Models.LibraryUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
        <form asp_action="Index" method="get">
        <tr>
            <th></th>
            <th>
                <input name="voornaam" value="@ViewBag.Voornaam" onchange="$(this.form).submit();" />
            </th>
            <th>
                <input name="achternaam" value="@ViewBag.Achternaam" onchange="$(this.form).submit();" />
            </th>

        </tr>
        </form>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Roles" asp-route-userName="@item.UserName">Roles</a> |
                    @if (item.LockoutEnd > DateTime.Now)
                    {
                        <a asp-action="UnBlock" asp-route-userName="@item.UserName">Unblock</a>
                    }
                    else
                    {
                        <a asp-action="Block" asp-route-userName="@item.UserName">Block</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
