@model IEnumerable<Library.Models.Author>

@{
    ViewData["Title"] = "Index";
    string streepje = " | ";
}

<h1>Index</h1>


    @if (User.IsInRole("ContentAdmin"))
    {
        <p>
       <a asp-action="Create">Create New</a>
        </p>
    }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (User.IsInRole("ContentAdmin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @streepje
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> @streepje
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
